.subscribe-class {
    background-color: rgb(200, 0, 0);
    color: white;
    padding: 5px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 0px;
    opacity: 1;
    transition-duration: 0.15s;
}

.subscribe-class:hover {
    opacity: 0.7;
}

.subscribe-class:active {
    opacity: 0.5;
}

.join-class {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 97, 207);
    font-weight: 500;
    padding: 5px;
    height: 30px;
    width: 60px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: 0.15s;
}

.join-class:hover {
    color: white;
    background-color: rgb(0, 97, 207);
}

.join-class:active {
    opacity: 0.7;
}

.tweet-class {
    background-color: rgb(11, 107, 216);
    color: white;
    font-weight: 700;
    padding: 5px;
    height: 30px;
    width: 80px;
    border: none;
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.15s;
}

.tweet-class:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.parent {
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 100vh;
    justify-content: center;
}